{
  "openapi": "3.0.3",
  "info": {
    "title": "WorkOS API",
    "version": "2024-01-01",
    "description": "WorkOS API for workforce identity management including user management, SSO, directory sync, and audit logs."
  },
  "servers": [
    {
      "url": "https://api.workos.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "User Management",
      "description": "Manage users, authentication factors, and email verification."
    },
    {
      "name": "Organization Memberships",
      "description": "Manage user memberships within organizations."
    },
    {
      "name": "Organizations",
      "description": "Manage organizations and their domains."
    },
    {
      "name": "SSO Connections",
      "description": "Manage Single Sign-On connections."
    },
    {
      "name": "Directories",
      "description": "Manage directory sync directories."
    },
    {
      "name": "Directory Users",
      "description": "Manage directory sync users."
    },
    {
      "name": "Directory Groups",
      "description": "Manage directory sync groups."
    },
    {
      "name": "Audit Log Events",
      "description": "Create audit log events."
    },
    {
      "name": "Events",
      "description": "List events from the WorkOS event stream."
    },
    {
      "name": "Invitations",
      "description": "Manage user invitations."
    }
  ],
  "paths": {
    "/user_management/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "description": "Returns a paginated list of users.",
        "tags": ["User Management"],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Filter users by email address.",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "organization_id",
            "in": "query",
            "description": "Filter users by organization membership.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/OrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of users.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "list_metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  },
                  "required": ["data", "list_metadata"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createUser",
        "summary": "Create a user",
        "description": "Creates a new user.",
        "tags": ["User Management"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The user's email address."
                  },
                  "password": {
                    "type": "string",
                    "description": "The user's password."
                  },
                  "first_name": {
                    "type": "string",
                    "description": "The user's first name."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "The user's last name."
                  },
                  "email_verified": {
                    "type": "boolean",
                    "description": "Whether the user's email address has been verified.",
                    "default": false
                  }
                },
                "required": ["email"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/user_management/users/{id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user",
        "description": "Returns a user by ID.",
        "tags": ["User Management"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the user.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateUser",
        "summary": "Update a user",
        "description": "Updates a user by ID.",
        "tags": ["User Management"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the user.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "The user's first name."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "The user's last name."
                  },
                  "email_verified": {
                    "type": "boolean",
                    "description": "Whether the user's email address has been verified."
                  },
                  "password": {
                    "type": "string",
                    "description": "The user's password."
                  },
                  "password_hash": {
                    "type": "string",
                    "description": "A pre-hashed password for the user. Mutually exclusive with password."
                  },
                  "password_hash_type": {
                    "type": "string",
                    "description": "The algorithm used to hash the password_hash value.",
                    "enum": ["bcrypt", "firebase-scrypt", "ssha"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete a user",
        "description": "Deletes a user by ID.",
        "tags": ["User Management"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the user.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "User successfully deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/user_management/users/{id}/email_verification/send": {
      "post": {
        "operationId": "sendVerificationEmail",
        "summary": "Send verification email",
        "description": "Sends a verification email to the user.",
        "tags": ["User Management"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the user.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verification email sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/user_management/users/{id}/email_verification/confirm": {
      "post": {
        "operationId": "confirmEmailVerification",
        "summary": "Verify user email",
        "description": "Verifies a user's email address using the verification code.",
        "tags": ["User Management"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the user.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "The verification code sent to the user's email."
                  }
                },
                "required": ["code"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verified successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/user_management/users/{id}/auth_factors": {
      "get": {
        "operationId": "listAuthFactors",
        "summary": "List user auth factors",
        "description": "Returns the authentication factors for a user.",
        "tags": ["User Management"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the user.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of authentication factors.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuthenticationFactor"
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/user_management/users/{user_id}/identities/{identity_id}": {
      "delete": {
        "operationId": "unlinkIdentity",
        "summary": "Unlink an identity from a user",
        "description": "Removes an identity (e.g., OAuth provider) from a user.",
        "tags": ["User Management"],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "The ID of the user.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identity_id",
            "in": "path",
            "required": true,
            "description": "The ID of the identity to unlink.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Identity successfully unlinked."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/user_management/organization_memberships": {
      "get": {
        "operationId": "listOrganizationMemberships",
        "summary": "List organization memberships",
        "description": "Returns a paginated list of organization memberships.",
        "tags": ["Organization Memberships"],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter memberships by user ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "query",
            "description": "Filter memberships by organization ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Filter memberships by status. Comma-separated list.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["active", "inactive", "pending"]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/OrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of organization memberships.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrganizationMembership"
                      }
                    },
                    "list_metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  },
                  "required": ["data", "list_metadata"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createOrganizationMembership",
        "summary": "Create an organization membership",
        "description": "Creates a new organization membership for a user.",
        "tags": ["Organization Memberships"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "The ID of the user."
                  },
                  "organization_id": {
                    "type": "string",
                    "description": "The ID of the organization."
                  },
                  "role_slug": {
                    "type": "string",
                    "description": "The slug of the role to assign to the user within the organization."
                  }
                },
                "required": ["user_id", "organization_id"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created organization membership.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMembership"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/user_management/organization_memberships/{id}": {
      "get": {
        "operationId": "getOrganizationMembership",
        "summary": "Get an organization membership",
        "description": "Returns an organization membership by ID.",
        "tags": ["Organization Memberships"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the organization membership.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested organization membership.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMembership"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateOrganizationMembership",
        "summary": "Update an organization membership",
        "description": "Updates an organization membership by ID.",
        "tags": ["Organization Memberships"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the organization membership.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role_slug": {
                    "type": "string",
                    "description": "The slug of the role to assign."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated organization membership.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMembership"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "deleteOrganizationMembership",
        "summary": "Delete an organization membership",
        "description": "Deletes an organization membership by ID.",
        "tags": ["Organization Memberships"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the organization membership.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Organization membership successfully deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/user_management/organization_memberships/{id}/activate": {
      "put": {
        "operationId": "activateOrganizationMembership",
        "summary": "Activate an organization membership",
        "description": "Activates an organization membership by ID.",
        "tags": ["Organization Memberships"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the organization membership.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The activated organization membership.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMembership"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/user_management/organization_memberships/{id}/deactivate": {
      "put": {
        "operationId": "deactivateOrganizationMembership",
        "summary": "Deactivate an organization membership",
        "description": "Deactivates an organization membership by ID.",
        "tags": ["Organization Memberships"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the organization membership.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deactivated organization membership.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationMembership"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "operationId": "listOrganizations",
        "summary": "List organizations",
        "description": "Returns a paginated list of organizations.",
        "tags": ["Organizations"],
        "parameters": [
          {
            "name": "domains_include",
            "in": "query",
            "description": "Filter organizations by domain. Comma-separated list.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "domain_data_include",
            "in": "query",
            "description": "Whether to include domain data in the response.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "for_domain",
            "in": "query",
            "description": "Filter organizations that have the specified domain.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/OrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of organizations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organization"
                      }
                    },
                    "list_metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  },
                  "required": ["data", "list_metadata"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createOrganization",
        "summary": "Create an organization",
        "description": "Creates a new organization.",
        "tags": ["Organizations"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the organization."
                  },
                  "allow_profiles_outside_organization": {
                    "type": "boolean",
                    "description": "Whether to allow profiles outside the organization's domains.",
                    "default": false
                  },
                  "domains": {
                    "type": "array",
                    "description": "The domains associated with the organization.",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/organizations/{id}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get an organization",
        "description": "Returns an organization by ID.",
        "tags": ["Organizations"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the organization.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateOrganization",
        "summary": "Update an organization",
        "description": "Updates an organization by ID.",
        "tags": ["Organizations"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the organization.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the organization."
                  },
                  "allow_profiles_outside_organization": {
                    "type": "boolean",
                    "description": "Whether to allow profiles outside the organization's domains."
                  },
                  "domains": {
                    "type": "array",
                    "description": "The domains associated with the organization.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "deleteOrganization",
        "summary": "Delete an organization",
        "description": "Deletes an organization by ID.",
        "tags": ["Organizations"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the organization.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Organization successfully deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/connections": {
      "get": {
        "operationId": "listConnections",
        "summary": "List SSO connections",
        "description": "Returns a paginated list of SSO connections.",
        "tags": ["SSO Connections"],
        "parameters": [
          {
            "name": "connection_type",
            "in": "query",
            "description": "Filter connections by type.",
            "schema": {
              "type": "string",
              "enum": [
                "ADFSSAML",
                "AdpOidc",
                "AppleOAuth",
                "Auth0SAML",
                "AzureSAML",
                "CasSAML",
                "ClassLinkSAML",
                "CloudflareSAML",
                "CyberArkSAML",
                "DuoSAML",
                "GenericOIDC",
                "GenericSAML",
                "GitHubOAuth",
                "GoogleOAuth",
                "GoogleSAML",
                "JumpCloudSAML",
                "KeycloakSAML",
                "LastPassSAML",
                "LoginGovOidc",
                "MagicLink",
                "MicrosoftOAuth",
                "MiniOrangeSAML",
                "NetIqSAML",
                "OktaSAML",
                "OneLoginSAML",
                "OracleSAML",
                "PingFederateSAML",
                "PingOneSAML",
                "RipplingSAML",
                "SalesforceSAML",
                "ShibbolethGenericSAML",
                "ShibbolethSAML",
                "SimpleSamlPhpSAML",
                "VMwareSAML"
              ]
            }
          },
          {
            "name": "organization_id",
            "in": "query",
            "description": "Filter connections by organization ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/OrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of SSO connections.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Connection"
                      }
                    },
                    "list_metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  },
                  "required": ["data", "list_metadata"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/connections/{id}": {
      "get": {
        "operationId": "getConnection",
        "summary": "Get an SSO connection",
        "description": "Returns an SSO connection by ID.",
        "tags": ["SSO Connections"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the SSO connection.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested SSO connection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteConnection",
        "summary": "Delete an SSO connection",
        "description": "Deletes an SSO connection by ID.",
        "tags": ["SSO Connections"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the SSO connection.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "SSO connection successfully deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/directories": {
      "get": {
        "operationId": "listDirectories",
        "summary": "List directories",
        "description": "Returns a paginated list of directories.",
        "tags": ["Directories"],
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "description": "Filter directories by organization ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search directories by name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/OrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of directories.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Directory"
                      }
                    },
                    "list_metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  },
                  "required": ["data", "list_metadata"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/directories/{id}": {
      "get": {
        "operationId": "getDirectory",
        "summary": "Get a directory",
        "description": "Returns a directory by ID.",
        "tags": ["Directories"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the directory.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested directory.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Directory"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteDirectory",
        "summary": "Delete a directory",
        "description": "Deletes a directory by ID.",
        "tags": ["Directories"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the directory.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Directory successfully deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/directory_users": {
      "get": {
        "operationId": "listDirectoryUsers",
        "summary": "List directory users",
        "description": "Returns a paginated list of directory users.",
        "tags": ["Directory Users"],
        "parameters": [
          {
            "name": "directory_id",
            "in": "query",
            "description": "Filter directory users by directory ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "Filter directory users by group ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/OrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of directory users.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DirectoryUser"
                      }
                    },
                    "list_metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  },
                  "required": ["data", "list_metadata"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/directory_users/{id}": {
      "get": {
        "operationId": "getDirectoryUser",
        "summary": "Get a directory user",
        "description": "Returns a directory user by ID.",
        "tags": ["Directory Users"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the directory user.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested directory user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryUser"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/directory_groups": {
      "get": {
        "operationId": "listDirectoryGroups",
        "summary": "List directory groups",
        "description": "Returns a paginated list of directory groups.",
        "tags": ["Directory Groups"],
        "parameters": [
          {
            "name": "directory_id",
            "in": "query",
            "description": "Filter directory groups by directory ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter directory groups by user ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/OrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of directory groups.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DirectoryGroup"
                      }
                    },
                    "list_metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  },
                  "required": ["data", "list_metadata"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/directory_groups/{id}": {
      "get": {
        "operationId": "getDirectoryGroup",
        "summary": "Get a directory group",
        "description": "Returns a directory group by ID.",
        "tags": ["Directory Groups"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the directory group.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested directory group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryGroup"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "description": "Returns a paginated list of events from the WorkOS event stream.",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "events",
            "in": "query",
            "description": "Filter by event types. Provide multiple values to filter by multiple event types.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "range_start",
            "in": "query",
            "description": "ISO 8601 timestamp to filter events created after this time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "range_end",
            "in": "query",
            "description": "ISO 8601 timestamp to filter events created before this time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of events.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "list_metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  },
                  "required": ["data", "list_metadata"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createAuditLogEvent",
        "summary": "Create an audit log event",
        "description": "Creates a new audit log event.",
        "tags": ["Audit Log Events"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organization_id": {
                    "type": "string",
                    "description": "The ID of the organization the event belongs to."
                  },
                  "event": {
                    "type": "object",
                    "description": "The audit log event data.",
                    "properties": {
                      "action": {
                        "type": "string",
                        "description": "The event action. Should describe the action taken (e.g., 'user.signed_in')."
                      },
                      "occurred_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "ISO 8601 timestamp of when the event occurred."
                      },
                      "version": {
                        "type": "integer",
                        "description": "The schema version of the event."
                      },
                      "actor": {
                        "type": "object",
                        "description": "The actor who performed the action.",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique ID of the actor."
                          },
                          "name": {
                            "type": "string",
                            "description": "The display name of the actor."
                          },
                          "type": {
                            "type": "string",
                            "description": "The type of actor (e.g., 'user')."
                          }
                        },
                        "required": ["id", "type"]
                      },
                      "targets": {
                        "type": "array",
                        "description": "The targets of the action.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The unique ID of the target."
                            },
                            "name": {
                              "type": "string",
                              "description": "The display name of the target."
                            },
                            "type": {
                              "type": "string",
                              "description": "The type of target."
                            }
                          },
                          "required": ["id", "type"]
                        }
                      },
                      "context": {
                        "type": "object",
                        "description": "Contextual information about the event.",
                        "properties": {
                          "location": {
                            "type": "string",
                            "description": "The IP address from which the event originated."
                          },
                          "user_agent": {
                            "type": "string",
                            "description": "The user agent string."
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "description": "Additional metadata about the event.",
                        "additionalProperties": true
                      }
                    },
                    "required": ["action", "occurred_at", "actor"]
                  }
                },
                "required": ["organization_id", "event"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Audit log event created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the event was created successfully."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/user_management/invitations": {
      "get": {
        "operationId": "listInvitations",
        "summary": "List invitations",
        "description": "Returns a paginated list of invitations.",
        "tags": ["Invitations"],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Filter invitations by email address.",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "organization_id",
            "in": "query",
            "description": "Filter invitations by organization ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/OrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of invitations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invitation"
                      }
                    },
                    "list_metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  },
                  "required": ["data", "list_metadata"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "sendInvitation",
        "summary": "Send an invitation",
        "description": "Sends an invitation to a user by email.",
        "tags": ["Invitations"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The email address of the invitee."
                  },
                  "organization_id": {
                    "type": "string",
                    "description": "The ID of the organization to invite the user to."
                  },
                  "role_slug": {
                    "type": "string",
                    "description": "The slug of the role to assign when the invitation is accepted."
                  },
                  "expires_in_days": {
                    "type": "integer",
                    "description": "The number of days until the invitation expires.",
                    "default": 7
                  },
                  "inviter_user_id": {
                    "type": "string",
                    "description": "The ID of the user sending the invitation."
                  }
                },
                "required": ["email"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created invitation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/user_management/invitations/{id}": {
      "get": {
        "operationId": "getInvitation",
        "summary": "Get an invitation",
        "description": "Returns an invitation by ID.",
        "tags": ["Invitations"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the invitation.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested invitation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/user_management/invitations/by_token/{token}": {
      "get": {
        "operationId": "findInvitationByToken",
        "summary": "Find an invitation by token",
        "description": "Returns an invitation by its token.",
        "tags": ["Invitations"],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "The token of the invitation.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested invitation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/user_management/invitations/{id}/accept": {
      "post": {
        "operationId": "acceptInvitation",
        "summary": "Accept an invitation",
        "description": "Accepts an invitation by ID.",
        "tags": ["Invitations"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the invitation.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The accepted invitation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/user_management/invitations/{id}/resend": {
      "post": {
        "operationId": "resendInvitation",
        "summary": "Resend an invitation",
        "description": "Resends an invitation email by ID.",
        "tags": ["Invitations"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the invitation.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The resent invitation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/user_management/invitations/{id}/revoke": {
      "post": {
        "operationId": "revokeInvitation",
        "summary": "Revoke an invitation",
        "description": "Revokes an invitation by ID.",
        "tags": ["Invitations"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the invitation.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The revoked invitation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key authentication. Use a WorkOS API key (starting with 'sk_') as the bearer token."
      }
    },
    "parameters": {
      "LimitParam": {
        "name": "limit",
        "in": "query",
        "description": "Maximum number of records to return. Acceptable range is 1-100.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 10
        }
      },
      "BeforeParam": {
        "name": "before",
        "in": "query",
        "description": "Pagination cursor. Fetch records before this cursor.",
        "schema": {
          "type": "string"
        }
      },
      "AfterParam": {
        "name": "after",
        "in": "query",
        "description": "Pagination cursor. Fetch records after this cursor.",
        "schema": {
          "type": "string"
        }
      },
      "OrderParam": {
        "name": "order",
        "in": "query",
        "description": "Sort order for the results.",
        "schema": {
          "type": "string",
          "enum": ["asc", "desc"],
          "default": "desc"
        }
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "description": "A WorkOS user.",
        "properties": {
          "object": {
            "type": "string",
            "description": "The object type. Always 'user'.",
            "enum": ["user"]
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the user."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The user's email address."
          },
          "email_verified": {
            "type": "boolean",
            "description": "Whether the user's email address has been verified."
          },
          "first_name": {
            "type": "string",
            "nullable": true,
            "description": "The user's first name."
          },
          "last_name": {
            "type": "string",
            "nullable": true,
            "description": "The user's last name."
          },
          "profile_picture_url": {
            "type": "string",
            "nullable": true,
            "description": "URL of the user's profile picture."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the user was created."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the user was last updated."
          }
        },
        "required": ["id", "email", "email_verified", "created_at", "updated_at"]
      },
      "Organization": {
        "type": "object",
        "description": "A WorkOS organization.",
        "properties": {
          "object": {
            "type": "string",
            "description": "The object type. Always 'organization'.",
            "enum": ["organization"]
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the organization."
          },
          "name": {
            "type": "string",
            "description": "The name of the organization."
          },
          "allow_profiles_outside_organization": {
            "type": "boolean",
            "description": "Whether to allow profiles outside the organization's domains."
          },
          "domains": {
            "type": "array",
            "description": "The domains associated with the organization.",
            "items": {
              "$ref": "#/components/schemas/OrganizationDomain"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the organization was created."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the organization was last updated."
          }
        },
        "required": ["id", "name", "allow_profiles_outside_organization", "domains", "created_at", "updated_at"]
      },
      "OrganizationDomain": {
        "type": "object",
        "description": "A domain associated with an organization.",
        "properties": {
          "object": {
            "type": "string",
            "description": "The object type. Always 'organization_domain'.",
            "enum": ["organization_domain"]
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the domain."
          },
          "domain": {
            "type": "string",
            "description": "The domain name."
          },
          "state": {
            "type": "string",
            "description": "The verification state of the domain.",
            "enum": ["verified", "pending"]
          },
          "organization_id": {
            "type": "string",
            "description": "The ID of the parent organization."
          }
        },
        "required": ["id", "domain", "state", "organization_id"]
      },
      "OrganizationMembership": {
        "type": "object",
        "description": "A membership associating a user with an organization.",
        "properties": {
          "object": {
            "type": "string",
            "description": "The object type. Always 'organization_membership'.",
            "enum": ["organization_membership"]
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the membership."
          },
          "user_id": {
            "type": "string",
            "description": "The ID of the user."
          },
          "organization_id": {
            "type": "string",
            "description": "The ID of the organization."
          },
          "role": {
            "type": "object",
            "description": "The role assigned to the user within the organization.",
            "properties": {
              "slug": {
                "type": "string",
                "description": "The slug identifier of the role."
              }
            },
            "required": ["slug"]
          },
          "status": {
            "type": "string",
            "description": "The status of the membership.",
            "enum": ["active", "inactive", "pending"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the membership was created."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the membership was last updated."
          }
        },
        "required": ["id", "user_id", "organization_id", "status", "created_at", "updated_at"]
      },
      "Connection": {
        "type": "object",
        "description": "An SSO connection.",
        "properties": {
          "object": {
            "type": "string",
            "description": "The object type. Always 'connection'.",
            "enum": ["connection"]
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the connection."
          },
          "connection_type": {
            "type": "string",
            "description": "The type of connection (e.g., 'OktaSAML', 'AzureSAML')."
          },
          "name": {
            "type": "string",
            "description": "The name of the connection."
          },
          "state": {
            "type": "string",
            "description": "The state of the connection.",
            "enum": ["active", "inactive", "draft", "validating"]
          },
          "organization_id": {
            "type": "string",
            "description": "The ID of the organization the connection belongs to."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the connection was created."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the connection was last updated."
          }
        },
        "required": ["id", "connection_type", "name", "state", "organization_id", "created_at", "updated_at"]
      },
      "Directory": {
        "type": "object",
        "description": "A directory for directory sync.",
        "properties": {
          "object": {
            "type": "string",
            "description": "The object type. Always 'directory'.",
            "enum": ["directory"]
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the directory."
          },
          "name": {
            "type": "string",
            "description": "The name of the directory."
          },
          "domain": {
            "type": "string",
            "nullable": true,
            "description": "The domain associated with the directory."
          },
          "type": {
            "type": "string",
            "description": "The type of directory provider.",
            "enum": [
              "azure scim v2.0",
              "bamboohr",
              "breathe hr",
              "cezanne hr",
              "cyberark scim v2.0",
              "fourth hr",
              "generic scim v2.0",
              "google workspace directory",
              "gsuite directory",
              "hibob",
              "jump cloud scim v2.0",
              "okta scim v2.0",
              "onelogin scim v2.0",
              "people hr",
              "personio",
              "pingfederate scim v2.0",
              "rippling scim v2.0",
              "workday"
            ]
          },
          "state": {
            "type": "string",
            "description": "The state of the directory.",
            "enum": ["active", "inactive", "deleting", "validating"]
          },
          "organization_id": {
            "type": "string",
            "nullable": true,
            "description": "The ID of the organization the directory belongs to."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the directory was created."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the directory was last updated."
          }
        },
        "required": ["id", "name", "type", "state", "created_at", "updated_at"]
      },
      "DirectoryUser": {
        "type": "object",
        "description": "A user synced from a directory.",
        "properties": {
          "object": {
            "type": "string",
            "description": "The object type. Always 'directory_user'.",
            "enum": ["directory_user"]
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the directory user."
          },
          "idp_id": {
            "type": "string",
            "description": "The user's identifier from the identity provider."
          },
          "directory_id": {
            "type": "string",
            "description": "The ID of the directory the user belongs to."
          },
          "organization_id": {
            "type": "string",
            "nullable": true,
            "description": "The ID of the organization the user belongs to."
          },
          "first_name": {
            "type": "string",
            "nullable": true,
            "description": "The user's first name."
          },
          "last_name": {
            "type": "string",
            "nullable": true,
            "description": "The user's last name."
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "The user's primary email address."
          },
          "username": {
            "type": "string",
            "nullable": true,
            "description": "The user's username."
          },
          "state": {
            "type": "string",
            "description": "The state of the directory user.",
            "enum": ["active", "inactive"]
          },
          "custom_attributes": {
            "type": "object",
            "description": "Custom attributes synced from the directory provider.",
            "additionalProperties": true
          },
          "groups": {
            "type": "array",
            "description": "The groups the user belongs to.",
            "items": {
              "$ref": "#/components/schemas/DirectoryGroup"
            }
          },
          "raw_attributes": {
            "type": "object",
            "description": "The raw attributes from the directory provider.",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the directory user was created."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the directory user was last updated."
          }
        },
        "required": ["id", "idp_id", "directory_id", "state", "created_at", "updated_at"]
      },
      "DirectoryGroup": {
        "type": "object",
        "description": "A group synced from a directory.",
        "properties": {
          "object": {
            "type": "string",
            "description": "The object type. Always 'directory_group'.",
            "enum": ["directory_group"]
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the directory group."
          },
          "idp_id": {
            "type": "string",
            "description": "The group's identifier from the identity provider."
          },
          "directory_id": {
            "type": "string",
            "description": "The ID of the directory the group belongs to."
          },
          "organization_id": {
            "type": "string",
            "nullable": true,
            "description": "The ID of the organization the group belongs to."
          },
          "name": {
            "type": "string",
            "description": "The name of the directory group."
          },
          "raw_attributes": {
            "type": "object",
            "description": "The raw attributes from the directory provider.",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the directory group was created."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the directory group was last updated."
          }
        },
        "required": ["id", "idp_id", "directory_id", "name", "created_at", "updated_at"]
      },
      "Invitation": {
        "type": "object",
        "description": "An invitation to join WorkOS.",
        "properties": {
          "object": {
            "type": "string",
            "description": "The object type. Always 'invitation'.",
            "enum": ["invitation"]
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the invitation."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The email address the invitation was sent to."
          },
          "state": {
            "type": "string",
            "description": "The state of the invitation.",
            "enum": ["pending", "accepted", "expired", "revoked"]
          },
          "accepted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp of when the invitation was accepted."
          },
          "revoked_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp of when the invitation was revoked."
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the invitation expires."
          },
          "organization_id": {
            "type": "string",
            "nullable": true,
            "description": "The ID of the organization the invitation is for."
          },
          "inviter_user_id": {
            "type": "string",
            "nullable": true,
            "description": "The ID of the user who sent the invitation."
          },
          "token": {
            "type": "string",
            "description": "The token used to accept the invitation."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the invitation was created."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the invitation was last updated."
          }
        },
        "required": ["id", "email", "state", "expires_at", "token", "created_at", "updated_at"]
      },
      "AuthenticationFactor": {
        "type": "object",
        "description": "An authentication factor for a user.",
        "properties": {
          "object": {
            "type": "string",
            "description": "The object type. Always 'authentication_factor'.",
            "enum": ["authentication_factor"]
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the authentication factor."
          },
          "type": {
            "type": "string",
            "description": "The type of authentication factor.",
            "enum": ["totp"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the authentication factor was created."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the authentication factor was last updated."
          }
        },
        "required": ["id", "type", "created_at", "updated_at"]
      },
      "Event": {
        "type": "object",
        "description": "An event from the WorkOS event stream.",
        "properties": {
          "object": {
            "type": "string",
            "description": "The object type. Always 'event'.",
            "enum": ["event"]
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the event."
          },
          "event": {
            "type": "string",
            "description": "The event type (e.g., 'dsync.user.created', 'connection.activated')."
          },
          "data": {
            "type": "object",
            "description": "The event payload data.",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the event was created."
          }
        },
        "required": ["id", "event", "data", "created_at"]
      },
      "ListMetadata": {
        "type": "object",
        "description": "Pagination metadata for list responses.",
        "properties": {
          "before": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for fetching the previous page of results."
          },
          "after": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for fetching the next page of results."
          }
        },
        "required": ["before", "after"]
      },
      "Error": {
        "type": "object",
        "description": "An error response.",
        "properties": {
          "message": {
            "type": "string",
            "description": "A human-readable error message."
          },
          "code": {
            "type": "string",
            "description": "An error code identifying the type of error."
          },
          "errors": {
            "type": "array",
            "description": "A list of specific field-level errors.",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The field-level error code."
                },
                "message": {
                  "type": "string",
                  "description": "A human-readable description of the field-level error."
                }
              }
            }
          }
        },
        "required": ["message"]
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication credentials are missing or invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "The request body contains invalid or missing fields.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}