{
  "openapi": "3.0.0",
  "info": {
    "title": "Vanta API",
    "version": "1.0.0",
    "description": "The Vanta REST API lets customers query and mutate Vanta's data. Use this API to automate bulk actions, query data for custom workflows and dashboards, and bolster your security operations.",
    "termsOfService": "https://www.vanta.com/terms",
    "license": {
      "name": "UNLICENSED"
    },
    "contact": {
      "name": "API Support",
      "url": "https://help.vanta.com/",
      "email": "support@vanta.com"
    }
  },
  "servers": [
    {
      "url": "https://api.vanta.com"
    }
  ],
  "components": {
    "schemas": {
      "UploadedDocumentUploadedByType": {
        "enum": [
          "USER",
          "APPLICATION"
        ],
        "type": "string"
      },
      "UploadedFileT": {
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the document."
          },
          "fileName": {
            "type": "string",
            "nullable": true,
            "description": "The file name of the document."
          },
          "title": {
            "type": "string",
            "description": "The document's title."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "The document's description"
          },
          "mimeType": {
            "type": "string",
            "description": "Mime type of the document."
          },
          "uploadedBy": {
            "properties": {
              "type": {
                "$ref": "#/components/schemas/UploadedDocumentUploadedByType"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "id"
            ],
            "type": "object",
            "nullable": true,
            "description": "The actor who uploaded this document. It could be a user or an app."
          },
          "creationDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date of when the document was uploaded."
          },
          "updatedDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date when the document was last updated."
          },
          "deletionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date of when the document was deleted. Is set to null if the document has not been deleted."
          },
          "effectiveDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The document's effective date."
          },
          "url": {
            "type": "string",
            "description": "The document's URL."
          }
        },
        "required": [
          "id",
          "fileName",
          "title",
          "description",
          "mimeType",
          "uploadedBy",
          "creationDate",
          "updatedDate",
          "deletionDate",
          "effectiveDate",
          "url"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "Auditor": {
        "properties": {
          "id": {
            "type": "string"
          },
          "organizationId": {
            "type": "string",
            "description": "The unique identifier for the organization."
          },
          "email": {
            "type": "string",
            "description": "The email address of the auditor."
          },
          "givenName": {
            "type": "string",
            "description": "The given name (first name) of the auditor."
          },
          "familyName": {
            "type": "string",
            "description": "The family name (last name) of the auditor."
          }
        },
        "required": [
          "id",
          "organizationId",
          "email",
          "givenName",
          "familyName"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "AddAuditorInput": {
        "properties": {
          "email": {
            "type": "string",
            "description": "Email of the new user."
          },
          "givenName": {
            "type": "string",
            "description": "First name of the new user."
          },
          "familyName": {
            "type": "string",
            "description": "Last name of the new user."
          }
        },
        "required": [
          "email",
          "givenName",
          "familyName"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "Comment": {
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the comment"
          },
          "auditEvidenceId": {
            "type": "string",
            "description": "The unique identifier for the audit evidence related to the comment."
          },
          "text": {
            "type": "string",
            "description": "The comment message"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time",
            "description": "When the comment was created"
          },
          "modificationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the comment was updated"
          },
          "deletionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the comment was deleted"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "The email of the comment author. This acts as a unique identifier to map users between Vanta and external systems."
          },
          "authorName": {
            "type": "string",
            "nullable": true,
            "description": "Human-readable display name of the comment author.\nNull if the author's name is not available (e.g., user was deleted).\nThis enables correct author attribution in integrations where users cannot\nbe reliably matched across systems by email alone."
          }
        },
        "required": [
          "id",
          "auditEvidenceId",
          "text",
          "creationDate",
          "modificationDate",
          "deletionDate",
          "email",
          "authorName"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "AddCommentInput": {
        "properties": {
          "text": {
            "type": "string",
            "description": "Text value of the comment"
          },
          "email": {
            "type": "string",
            "description": "Email of author. Must match an existing Vanta user and the user must exist under the Audit Firm who is making the API request"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time",
            "description": "When the comment was created in the external system"
          }
        },
        "required": [
          "text",
          "email",
          "creationDate"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "CustomField": {
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            ]
          }
        },
        "required": [
          "label",
          "value"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "Owner": {
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the person."
          },
          "displayName": {
            "type": "string",
            "description": "Name of the person that is shown in product."
          },
          "emailAddress": {
            "type": "string",
            "description": "Email address of the person."
          }
        },
        "required": [
          "id",
          "displayName",
          "emailAddress"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "ControlSource": {
        "enum": [
          "Vanta",
          "Custom"
        ],
        "type": "string"
      },
      "Control": {
        "properties": {
          "id": {
            "type": "string",
            "description": "The control's unique ID."
          },
          "externalId": {
            "type": "string",
            "nullable": true,
            "description": "The control's external ID."
          },
          "name": {
            "type": "string",
            "description": "The control's name."
          },
          "description": {
            "type": "string",
            "description": "The control's description."
          },
          "source": {
            "$ref": "#/components/schemas/ControlSource",
            "description": "The control's source, either \"VANTA\" or \"CUSTOM\"."
          },
          "domains": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "The security domains that the control belongs to."
          },
          "owner": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Owner"
              }
            ],
            "nullable": true,
            "description": "The control's owner."
          },
          "role": {
            "type": "string",
            "nullable": true,
            "description": "The control's GDPR role, if the control is a GDPR control."
          },
          "customFields": {
            "items": {
              "$ref": "#/components/schemas/CustomField"
            },
            "type": "array",
            "description": "The control's custom field values, if control custom fields is included in your Vanta instance."
          },
          "creationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the control was created. Returns null for Vanta library controls."
          },
          "modificationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the control was last modified. Returns null for Vanta library controls."
          }
        },
        "required": [
          "id",
          "externalId",
          "name",
          "description",
          "source",
          "domains",
          "owner",
          "customFields",
          "creationDate",
          "modificationDate"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "ControlDomain": {
        "enum": [
          "ARTIFICIAL_&_AUTONOMOUS_TECHNOLOGY",
          "ASSET_MANAGEMENT",
          "BUSINESS_CONTINUITY_&_DISASTER_RECOVERY",
          "CAPACITY_&_PERFORMANCE_PLANNING",
          "CHANGE_MANAGEMENT",
          "CLOUD_SECURITY",
          "COMPLIANCE",
          "CONFIGURATION_MANAGEMENT",
          "CONTINUOUS_MONITORING",
          "CRYPTOGRAPHIC_PROTECTIONS",
          "DATA_CLASSIFICATION_&_HANDLING",
          "EMBEDDED_TECHNOLOGY",
          "ENDPOINT_SECURITY",
          "HUMAN_RESOURCES_SECURITY",
          "IDENTIFICATION_&_AUTHENTICATION",
          "INCIDENT_RESPONSE",
          "INFORMATION_ASSURANCE",
          "MAINTENANCE",
          "MOBILE_DEVICE_MANAGEMENT",
          "NETWORK SECURITY",
          "PHYSICAL_&_ENVIRONMENTAL_SECURITY",
          "PRIVACY",
          "PROJECT_&_RESOURCE MANAGEMENT",
          "RISK_MANAGEMENT",
          "SECURE_ENGINEERING_&_ARCHITECTURE",
          "SECURITY_AWARENESS_&_TRAINING",
          "SECURITY_OPERATIONS",
          "SECURITY_&_PRIVACY_GOVERNANCE",
          "TECHNOLOGY_DEVELOPMENT_&_ACQUISITION",
          "THIRD-PARTY_MANAGEMENT",
          "THREAT_MANAGEMENT",
          "VULNERABILITY_&_PATCH_MANAGEMENT",
          "WEB_SECURITY",
          "ADMINISTRATIVE",
          "PHYSICAL",
          "TECHNICAL",
          "BASIC",
          "DERIVED"
        ],
        "type": "string"
      },
      "FrameworkId": {
        "enum": [
          "AU_E_8",
          "AWS_FTR",
          "CCPA",
          "CIS_V8",
          "CPS_234",
          "DORA",
          "FEDRAMP",
          "GDPR",
          "HIPAA",
          "HITRUST_E1",
          "ISO_27001",
          "ISO_27001_2022",
          "ISO_27017",
          "ISO_27018",
          "ISO_27701",
          "ISO_42001",
          "ISO_9001",
          "MSFT_SSPA",
          "MVSP",
          "NIS_2D",
          "NIST_171",
          "NIST_53",
          "NIST_AI_RMF",
          "NIST_CSF",
          "NIST_CSF_2",
          "OFDSS",
          "PCI_SAQ_A",
          "PCI_SAQ_A_EP",
          "PCI_SAQ_D_MERCHANT",
          "PCI_SAQ_D_SP",
          "PCI_DDS_4",
          "SOC_2",
          "SOX_ITGC",
          "UK_CYBER_ESSENTIALS",
          "US_DATA_PRIVACY"
        ],
        "type": "string"
      },
      "FrameworkSection": {
        "properties": {
          "frameworkId": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/FrameworkId"
              },
              {
                "type": "string"
              }
            ]
          },
          "sectionId": {
            "type": "string"
          }
        },
        "required": [
          "frameworkId",
          "sectionId"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "GdprRole": {
        "enum": [
          "BOTH",
          "CONTROLLER",
          "PROCESSOR"
        ],
        "type": "string"
      },
      "CreateCustomControlInput": {
        "properties": {
          "externalId": {
            "type": "string",
            "description": "The external id of the control."
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "The name of the control."
          },
          "description": {
            "type": "string",
            "description": "The description of the control."
          },
          "effectiveDate": {
            "type": "string",
            "format": "date-time",
            "description": "The effective date of the control."
          },
          "category": {
            "$ref": "#/components/schemas/ControlDomain",
            "description": "The category of the control. See the ControlDomain enum for possible values."
          },
          "sections": {
            "items": {
              "$ref": "#/components/schemas/FrameworkSection"
            },
            "type": "array",
            "nullable": true,
            "description": "Framework sections that the control should be mapped to."
          },
          "role": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GdprRole"
              }
            ],
            "nullable": true,
            "description": "The GDPR role of the control, which specifies whether the data is being \"collected\" or \"processed\". See the GdprRole enum for possible values.\nThis field should only be included for controls that are to be mapped to the GDPR framework."
          }
        },
        "required": [
          "externalId",
          "name",
          "description",
          "effectiveDate",
          "category"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "InformationRequestApprovalStatus": {
        "type": "string",
        "enum": [
          "NEEDS_EVIDENCE",
          "READY_FOR_AUDIT",
          "AUDITOR_APPROVED",
          "AUDITOR_FLAGGED"
        ],
        "description": "Current approval status of the information request, tracking its lifecycle through the audit process.\n\nThe status progresses through the workflow: initial state \u2192 awaiting review \u2192 approved or flagged.\nStatus can move between awaiting review and flagged states as evidence is reviewed and resubmitted."
      },
      "InformationRequestCadence": {
        "type": "string",
        "enum": [
          "ANNUALLY",
          "BIANNUALLY",
          "MONTHLY",
          "QUARTERLY"
        ],
        "description": "Frequency cadence for the information request, indicating how often it recurs."
      },
      "InformationRequestType": {
        "type": "string",
        "enum": [
          "POINT_IN_TIME",
          "POPULATION",
          "SAMPLE"
        ],
        "description": "Type of information request, defining what scope of evidence is needed.\n\n- POINT_IN_TIME: Evidence for a specific moment (e.g., current state of a policy)\n- POPULATION: Evidence covering all items in a category (e.g., all employees)\n- SAMPLE: Evidence for a representative sample (e.g., 10 random customer records)"
      },
      "ResourceOwner": {
        "anyOf": [
          {
            "properties": {
              "displayName": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "user"
                ],
                "nullable": false
              }
            },
            "required": [
              "displayName",
              "id",
              "type"
            ],
            "type": "object"
          },
          {
            "properties": {
              "displayName": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "team"
                ],
                "nullable": false
              }
            },
            "required": [
              "displayName",
              "id",
              "type"
            ],
            "type": "object"
          }
        ],
        "description": "Represents either a user or a team owning a resource."
      },
      "InformationRequest": {
        "description": "Information Request resource representing a single request for audit evidence from a customer.\n\nAn information request is created by an auditor and shared with the customer organization.\nThe customer then uploads evidence, which the auditor reviews and either approves or flags\nfor issues.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the information request within Vanta's system.\nThis is the primary identifier used in all API endpoints.\nFormat: ObjectId as a string (e.g., \"6890e473dce1da5d8406f5e7\")"
          },
          "uniqueId": {
            "type": "string",
            "description": "External unique ID to prevent duplicates across different audit systems.\nUsed for idempotency when syncing data between external audit management\nsystems and Vanta. Unlike `id`, this value is provided by the external system."
          },
          "additionalControlIds": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "Additional control IDs beyond those automatically mapped from framework codes.\nAllows manual association with specific controls when automatic mapping\nis insufficient. Each ID should reference a valid control in your audit framework."
          },
          "approvalStatus": {
            "$ref": "#/components/schemas/InformationRequestApprovalStatus",
            "description": "Current approval status tracking the request's lifecycle through evidence\nsubmission and auditor review."
          },
          "cadence": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InformationRequestCadence"
              }
            ],
            "nullable": true,
            "description": "How frequently this information request recurs (e.g., annual password\npolicy reviews). Null for one-time requests."
          },
          "frameworkCodes": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "The framework codes this request addresses.\nLinks the request to specific compliance requirements. Can be an empty array\nif no framework codes are associated. These codes correspond to standards like SOC 2, ISO 27001, etc."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Detailed description explaining what evidence is needed and why.\nShould provide clear instructions to help the customer understand what\nto submit."
          },
          "dueDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The deadline by which the customer must fulfill this request.\nNull if no specific deadline is set. Format: ISO 8601 UTC timestamp."
          },
          "evidenceCaptureDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The earliest date for which evidence should be captured.\nEvidence dated before this date may not be accepted.\nNull if not restricted. Format: ISO 8601 UTC timestamp."
          },
          "requestId": {
            "type": "string",
            "nullable": true,
            "description": "Non-unique external reference ID for this request.\nUnlike `uniqueId` which must be unique, `requestId` is for display/reference\npurposes only (e.g., \"REQ-123\"). Null if not provided."
          },
          "requestType": {
            "$ref": "#/components/schemas/InformationRequestType",
            "description": "Defines the scope of evidence required."
          },
          "title": {
            "type": "string",
            "description": "Short, descriptive title summarizing what is being requested."
          },
          "creationDate": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the request was created in the system.\nFormat: ISO 8601 UTC timestamp."
          },
          "modificationDate": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the request was last modified.\nFormat: ISO 8601 UTC timestamp."
          },
          "deletionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when the request was soft-deleted. Null if the request has not\nbeen deleted. Soft deletes allow retaining history while hiding the request\nfrom normal operations.\nFormat: ISO 8601 UTC timestamp."
          },
          "ownerAssignment": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ResourceOwner"
              }
            ],
            "nullable": true,
            "description": "Resource owner (user or team) assigned to this information request.\nReturns null if no resource owner is assigned."
          }
        },
        "required": [
          "id",
          "uniqueId",
          "additionalControlIds",
          "approvalStatus",
          "cadence",
          "frameworkCodes",
          "description",
          "dueDate",
          "evidenceCaptureDate",
          "requestId",
          "requestType",
          "title",
          "creationDate",
          "modificationDate",
          "deletionDate",
          "ownerAssignment"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "AcceptInformationRequestEvidenceInput": {
        "description": "Input for accepting evidence on an information request, indicating that\nthe submitted evidence meets requirements. This changes the request's\napprovalStatus to an approved state and creates an activity log entry.",
        "properties": {
          "auditorEmail": {
            "type": "string",
            "description": "Email of the auditor accepting the evidence.\nMust match an existing Vanta user who belongs to the audit firm making the API request."
          }
        },
        "required": [
          "auditorEmail"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "InformationRequestComment": {
        "description": "A comment on an information request enables communication between auditors\nand customers regarding evidence requirements and submissions.\n\nThese threaded discussions help clarify requests, explain or resolve questions about evidence,\nand are always visible to both parties once created.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the comment within Vanta's system.\nFormat: ObjectId as a string (e.g., \"6890e473dce1da5d8406f5e7\")."
          },
          "text": {
            "type": "string",
            "description": "The comment message content.\nCan include explanations, questions, or clarifications about the information request."
          },
          "creationDate": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the comment was created.\nFormat: ISO 8601 UTC timestamp."
          },
          "modificationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when the comment was last edited.\nNull if the comment has never been modified.\nFormat: ISO 8601 UTC timestamp."
          },
          "deletionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when the comment was soft-deleted.\nNull if the comment has not been deleted.\nSoft deletes retain the comment for audit history while hiding it from normal operations.\nFormat: ISO 8601 UTC timestamp."
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "Email address of the comment author.\nThis email uniquely identifies users between Vanta and external audit systems."
          },
          "authorName": {
            "type": "string",
            "nullable": true,
            "description": "Human-readable display name of the comment author.\nNull if the author's name is not available (e.g., user was deleted).\nThis enables correct author attribution in integrations where users cannot\nbe reliably matched across systems by email alone."
          }
        },
        "required": [
          "id",
          "text",
          "creationDate",
          "modificationDate",
          "deletionDate",
          "email",
          "authorName"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "AddInformationRequestCommentInput": {
        "description": "Comments enable communication between auditors and customers about\nevidence requirements and submissions. All comments are immediately\nvisible to both parties once created.",
        "properties": {
          "text": {
            "type": "string",
            "description": "The text content of the comment.\nMust be at least 1 character. Can include questions, clarifications,\nor explanations related to the information request."
          },
          "email": {
            "type": "string",
            "description": "Email address of the comment author.\nMust match an existing Vanta user who belongs to the audit firm making the API request.\nThis email uniquely identifies the author across systems."
          },
          "creationDate": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the comment was created in the external audit management system.\nThis allows synchronizing comment timestamps from external systems.\nFormat: ISO 8601 UTC timestamp."
          }
        },
        "required": [
          "text",
          "email",
          "creationDate"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "RecurrenceDuration": {
        "enum": [
          "P0D",
          "P1D",
          "P1W",
          "P1M",
          "P3M",
          "P6M",
          "P1Y"
        ],
        "type": "string"
      },
      "CustomEvidenceRequest": {
        "properties": {
          "id": {
            "type": "string",
            "description": "Internal id of the custom evidence request within Vanta"
          },
          "controlIds": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "A set of controls, referenced by id, to map the evidence to"
          },
          "title": {
            "type": "string",
            "description": "Title for the evidence request"
          },
          "description": {
            "type": "string",
            "description": "Description for the evidence request"
          },
          "cadence": {
            "$ref": "#/components/schemas/RecurrenceDuration",
            "description": "Renewal cadence"
          },
          "reminderWindow": {
            "$ref": "#/components/schemas/RecurrenceDuration",
            "description": "Duration representing when to send notifications, relative to renewal date"
          },
          "isRestricted": {
            "type": "boolean",
            "description": "Whether this document contains sensitive data and needs more restrictive read access"
          }
        },
        "required": [
          "id",
          "controlIds",
          "title",
          "description",
          "cadence",
          "reminderWindow",
          "isRestricted"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "CreateCustomEvidenceRequestInput": {
        "properties": {
          "controlIds": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "A set of controls, referenced by id, to map the evidence to"
          },
          "title": {
            "type": "string",
            "description": "Title for the evidence request"
          },
          "description": {
            "type": "string",
            "description": "Description for the evidence request"
          },
          "cadence": {
            "$ref": "#/components/schemas/RecurrenceDuration",
            "description": "Renewal cadence"
          },
          "reminderWindow": {
            "$ref": "#/components/schemas/RecurrenceDuration",
            "description": "Duration representing when to send notifications, relative to renewal date"
          },
          "isRestricted": {
            "type": "boolean",
            "description": "Whether this document contains sensitive data and needs more restrictive read access"
          },
          "auditorEmail": {
            "type": "string",
            "description": "Email of the auditor who created the custom evidence request."
          }
        },
        "required": [
          "controlIds",
          "title",
          "description",
          "cadence",
          "reminderWindow",
          "isRestricted",
          "auditorEmail"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "DeleteInformationRequestCommentInput": {
        "description": "Deletes an existing comment on an information request.\nOnly the original author of the comment can delete it.",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address of the comment author.\nMust match an existing Vanta user who belongs to the audit firm making the API request.\nThis email uniquely identifies the author across systems."
          }
        },
        "required": [
          "email"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "CreateInformationRequestInput": {
        "description": "Input for creating a new information request.\nNew requests are created in an initial state by default.",
        "properties": {
          "uniqueId": {
            "type": "string",
            "description": "External unique ID to prevent duplicate requests across audit systems.\nMust be unique within the audit. Used for idempotency."
          },
          "title": {
            "type": "string",
            "description": "Short, descriptive title summarizing what is being requested.\nMust be at least 1 character."
          },
          "requestType": {
            "$ref": "#/components/schemas/InformationRequestType",
            "description": "Scope of evidence required."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Detailed description explaining what evidence is needed.\nHelps the customer understand what to submit. Optional."
          },
          "frameworkCodes": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "Framework codes this request addresses.\nAn empty array if no framework codes are associated."
          },
          "cadence": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InformationRequestCadence"
              }
            ],
            "nullable": true,
            "description": "How frequently this request recurs. Null or omitted for one-time requests."
          },
          "dueDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Deadline for fulfilling this request. Null or omitted if no deadline.\nFormat: ISO 8601 UTC timestamp."
          },
          "evidenceCaptureDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Start date of the audit period. Evidence before this date may not be accepted.\nNull or omitted if not restricted.\nFormat: ISO 8601 UTC timestamp."
          }
        },
        "required": [
          "uniqueId",
          "title",
          "requestType",
          "frameworkCodes"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "AuditFocus": {
        "type": "string",
        "enum": [
          "EXTERNAL",
          "INTERNAL"
        ]
      },
      "Audit": {
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the audit."
          },
          "customerOrganizationName": {
            "type": "string",
            "description": "The domain name of the customer organization being audited (e.g. vanta.com)"
          },
          "customerDisplayName": {
            "type": "string",
            "nullable": true,
            "description": "The human readable name of the customer organization being audited (e.g. Vanta)"
          },
          "customerOrganizationId": {
            "type": "string",
            "description": "The uuid of the customer organization being audited"
          },
          "auditStartDate": {
            "type": "string",
            "format": "date-time",
            "description": "The start of the audit window. This is also when data collection for audit starts."
          },
          "auditEndDate": {
            "type": "string",
            "format": "date-time",
            "description": "The end of the audit window."
          },
          "earlyAccessStartsAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp at which auditors gain access to the audit. Occurs before the audit window begins"
          },
          "framework": {
            "type": "string",
            "description": "The name of the framework for the audit"
          },
          "displayName": {
            "type": "string",
            "description": "The display name for the audit. Returns the custom audit name if set,\notherwise returns the framework name."
          },
          "allowAuditorEmails": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "Emails of auditors with access to audit"
          },
          "allowAllAuditors": {
            "type": "boolean",
            "description": "Set to true if all auditors in audit firm have access"
          },
          "deletionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when the audit was deleted"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the audit was created"
          },
          "modificationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when the audit was updated"
          },
          "completionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when the audit was marked completed, and report was uploaded"
          },
          "auditFocus": {
            "$ref": "#/components/schemas/AuditFocus",
            "description": "Audit focus determines if the audit is internal or external facing"
          },
          "auditorRequestListMetadata": {
            "properties": {
              "requestsSharedWithCustomer": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "Timestamp when information requests were shared with the customer. Null if not shared."
              }
            },
            "required": [
              "requestsSharedWithCustomer"
            ],
            "type": "object",
            "description": "Metadata about the auditor request list. This field is only present for IRL (Information\nRequest List) based audits and will be undefined for standard audits. Use the presence\nof this field to differentiate between IRL and non-IRL audits."
          }
        },
        "required": [
          "id",
          "customerOrganizationName",
          "customerDisplayName",
          "customerOrganizationId",
          "auditStartDate",
          "auditEndDate",
          "earlyAccessStartsAt",
          "framework",
          "displayName",
          "allowAuditorEmails",
          "allowAllAuditors",
          "deletionDate",
          "creationDate",
          "modificationDate",
          "completionDate",
          "auditFocus"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "FlagInformationRequestEvidenceInput": {
        "description": "Input for flagging evidence on an information request, indicating issues\nthat need to be addressed. This changes the request's approvalStatus to\na flagged state and creates an activity log entry.\n\nThe customer will be notified and can resubmit evidence after addressing the issues.",
        "properties": {
          "auditorEmail": {
            "type": "string",
            "description": "Email of the auditor flagging the evidence.\nMust match an existing Vanta user who belongs to the audit firm making the API request."
          },
          "reason": {
            "type": "string",
            "description": "Detailed explanation of what issues were found with the evidence.\nThis reason is visible to the customer and guides them on what to fix.\nMust be at least 1 character."
          }
        },
        "required": [
          "auditorEmail",
          "reason"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "FrameworkCodes": {
        "description": "Framework codes response resource",
        "properties": {
          "frameworkCodes": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "Array of valid framework codes for the audit's framework (e.g., \"CC6.1\", \"CC6.2\").\nThese represent the different framework sections available for creating information requests."
          }
        },
        "required": [
          "frameworkCodes"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "PageInfo": {
        "description": "Provides information about the pagination of a dataset.",
        "properties": {
          "endCursor": {
            "type": "string",
            "nullable": true,
            "description": "The cursor that points to the end of the current page, or null if there is no such cursor."
          },
          "hasNextPage": {
            "type": "boolean",
            "description": "Indicates if there is another page after the current page."
          },
          "hasPreviousPage": {
            "type": "boolean",
            "description": "Indicates if there is a page before the current page."
          },
          "startCursor": {
            "type": "string",
            "nullable": true,
            "description": "The cursor that points to the start of the current page, or null if there is no such cursor."
          }
        },
        "required": [
          "endCursor",
          "hasNextPage",
          "hasPreviousPage",
          "startCursor"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "PageCursor": {
        "type": "string",
        "description": "A marker or pointer, telling the API where to start fetching items for the subsequent page in a paginated dataset.\nNote that the requested page will not include the item that corresponds to this cursor but will start from the one immediately\nafter this cursor."
      },
      "PageSize": {
        "type": "integer",
        "format": "int32",
        "default": 10,
        "description": "Controls the maximum number of items returned in one response from the API.",
        "minimum": 1,
        "maximum": 100
      },
      "VulnerableAssetType": {
        "type": "string",
        "enum": [
          "SERVER",
          "SERVERLESS_FUNCTION",
          "CONTAINER",
          "CONTAINER_REPOSITORY",
          "CONTAINER_REPOSITORY_IMAGE",
          "CODE_REPOSITORY",
          "MANIFEST_FILE",
          "WORKSTATION",
          "OTHER"
        ],
        "description": "VulnerableAssetType describes the types of assets a vulnerability is on."
      },
      "KeyValuePair": {
        "properties": {
          "key": {
            "type": "string",
            "description": "Key of key-value pair."
          },
          "value": {
            "type": "string",
            "description": "Value of key-value pair."
          }
        },
        "required": [
          "key",
          "value"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "VulnerableAssetScanner": {
        "properties": {
          "resourceId": {
            "type": "string",
            "description": "The scanned asset's Vanta resource id."
          },
          "integrationId": {
            "type": "string",
            "description": "Integration that the the vulnerable asset is scanned by."
          },
          "imageDigest": {
            "type": "string",
            "nullable": true,
            "description": "Digest of the scanned container image."
          },
          "imagePushedAtDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Push date of the scanned container image."
          },
          "imageTags": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "nullable": true,
            "description": "Tags of the scanned container image."
          },
          "assetTags": {
            "items": {
              "$ref": "#/components/schemas/KeyValuePair"
            },
            "type": "array",
            "nullable": true,
            "description": "Tags of the scanned asset."
          },
          "parentAccountOrOrganization": {
            "type": "string",
            "nullable": true,
            "description": "The parent account or organization of the scanned asset."
          },
          "biosUuid": {
            "type": "string",
            "description": "BIOS UUID of the scanned asset."
          },
          "ipv4s": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "nullable": true,
            "description": "IPV4s of the scanned asset."
          },
          "ipv6s": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "nullable": true,
            "description": "IPV6s of the scanned asset."
          },
          "macAddresses": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "nullable": true,
            "description": "Mac addresses of the scanned asset."
          },
          "hostnames": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "nullable": true,
            "description": "Host names of the scanned asset."
          },
          "fqdns": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "nullable": true,
            "description": "fqdns of the scanned asset."
          },
          "operatingSystems": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "nullable": true,
            "description": "Operating systems of the scanned asset."
          },
          "targetId": {
            "type": "string",
            "nullable": true,
            "description": "The asset's identifier code."
          }
        },
        "required": [
          "resourceId",
          "integrationId",
          "imageDigest",
          "imagePushedAtDate",
          "imageTags",
          "assetTags",
          "parentAccountOrOrganization",
          "biosUuid",
          "ipv4s",
          "ipv6s",
          "macAddresses",
          "hostnames",
          "fqdns",
          "operatingSystems",
          "targetId"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "VulnerableAsset": {
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the vulnerable asset."
          },
          "name": {
            "type": "string",
            "description": "Display name of the vulnerable asset."
          },
          "assetType": {
            "$ref": "#/components/schemas/VulnerableAssetType",
            "description": "Type of the vulnerable asset.\nPossible values: CODE_REPOSITORY, CONTAINER_REPOSITORY, CONTAINER_REPOSITORY_IMAGE, MANIFEST_FILE, SERVER, SERVERLESS_FUNCTION, WORKSTATION."
          },
          "hasBeenScanned": {
            "type": "boolean",
            "description": "Whether the vulnerable asset has been scanned."
          },
          "imageScanTag": {
            "type": "string",
            "nullable": true,
            "description": "Only relevant for container repositories. This field sets the container image tag that vulnerabilities will be retrieved for. If null, the latest image will be retrieved."
          },
          "scanners": {
            "items": {
              "$ref": "#/components/schemas/VulnerableAssetScanner"
            },
            "type": "array",
            "description": "The integrations that are scanning this vulnerable asset."
          }
        },
        "required": [
          "id",
          "name",
          "assetType",
          "hasBeenScanned",
          "imageScanTag",
          "scanners"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "PaginatedResponse_VulnerableAsset_": {
        "properties": {
          "results": {
            "properties": {
              "data": {
                "items": {
                  "$ref": "#/components/schemas/VulnerableAsset"
                },
                "type": "array"
              },
              "pageInfo": {
                "$ref": "#/components/schemas/PageInfo"
              }
            },
            "required": [
              "data",
              "pageInfo"
            ],
            "type": "object"
          }
        },
        "required": [
          "results"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "PaginatedResponse_Comment_": {
        "properties": {
          "results": {
            "properties": {
              "data": {
                "items": {
                  "$ref": "#/components/schemas/Comment"
                },
                "type": "array"
              },
              "pageInfo": {
                "$ref": "#/components/schemas/PageInfo"
              }
            },
            "required": [
              "data",
              "pageInfo"
            ],
            "type": "object"
          }
        },
        "required": [
          "results"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "SectionPrinciple": {
        "properties": {
          "id": {
            "type": "string",
            "description": "The principle's unique ID."
          },
          "name": {
            "type": "string",
            "description": "The principle's name."
          }
        },
        "required": [
          "id",
          "name"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "Section": {
        "properties": {
          "name": {
            "type": "string",
            "description": "The section name"
          },
          "framework": {
            "type": "string",
            "description": "The section framework"
          },
          "principle": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SectionPrinciple"
              }
            ],
            "nullable": true,
            "description": "The principle that groups this section, if any."
          }
        },
        "required": [
          "name",
          "framework",
          "principle"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "AuditorControl": {
        "properties": {
          "id": {
            "type": "string",
            "description": "The control's unique ID."
          },
          "externalId": {
            "type": "string",
            "nullable": true,
            "description": "The control's external ID."
          },
          "name": {
            "type": "string",
            "description": "The control's name."
          },
          "description": {
            "type": "string",
            "description": "The control's description."
          },
          "source": {
            "$ref": "#/components/schemas/ControlSource",
            "description": "The control's source, either \"VANTA\" or \"CUSTOM\"."
          },
          "domains": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "The security domains that the control belongs to."
          },
          "owner": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Owner"
              }
            ],
            "nullable": true,
            "description": "The control's owner."
          },
          "role": {
            "type": "string",
            "nullable": true,
            "description": "The control's GDPR role, if the control is a GDPR control."
          },
          "customFields": {
            "items": {
              "$ref": "#/components/schemas/CustomField"
            },
            "type": "array",
            "description": "The control's custom field values, if control custom fields is included in your Vanta instance."
          },
          "creationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the control was created. Returns null for Vanta library controls."
          },
          "modificationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the control was last modified. Returns null for Vanta library controls."
          },
          "framework": {
            "type": "string",
            "description": "The report standard framework fulfilled by the control."
          },
          "sections": {
            "items": {
              "$ref": "#/components/schemas/Section"
            },
            "type": "array",
            "description": "Sections of a framework that this control satisfies"
          }
        },
        "required": [
          "id",
          "externalId",
          "name",
          "description",
          "source",
          "domains",
          "owner",
          "customFields",
          "creationDate",
          "modificationDate",
          "framework",
          "sections"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "PaginatedResponse_AuditorControl_": {
        "properties": {
          "results": {
            "properties": {
              "data": {
                "items": {
                  "$ref": "#/components/schemas/AuditorControl"
                },
                "type": "array"
              },
              "pageInfo": {
                "$ref": "#/components/schemas/PageInfo"
              }
            },
            "required": [
              "data",
              "pageInfo"
            ],
            "type": "object"
          }
        },
        "required": [
          "results"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "AuditEvidenceState": {
        "type": "string",
        "enum": [
          "Accepted",
          "Flagged",
          "Initialized",
          "NA",
          "Not ready for audit",
          "Ready for audit"
        ]
      },
      "AuditEvidenceType": {
        "type": "string",
        "enum": [
          "Evidence Request",
          "Policy",
          "Test"
        ]
      },
      "EvidenceControl": {
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of control associated to this evidence"
          },
          "sectionNames": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "A list sections associated to the control"
          }
        },
        "required": [
          "name",
          "sectionNames"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "Evidence": {
        "properties": {
          "id": {
            "type": "string",
            "description": "Vanta internal reference to evidence"
          },
          "externalId": {
            "type": "string",
            "description": "This is a static UUID to map Audit Firm controls to Vanta controls"
          },
          "status": {
            "$ref": "#/components/schemas/AuditEvidenceState",
            "description": "Vanta internal statuses for audit evidence"
          },
          "name": {
            "type": "string",
            "description": "Mutable name for evidence. Not guaranteed to be unique."
          },
          "deletionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The date this Audit Evidence was deleted"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time",
            "description": "The date this Audit Evidence was created"
          },
          "statusUpdatedDate": {
            "type": "string",
            "format": "date-time",
            "description": "Point in time that status was last updated"
          },
          "testStatus": {
            "type": "string",
            "nullable": true,
            "description": "The outcome of the automated test run, for Test-type evidence"
          },
          "evidenceType": {
            "$ref": "#/components/schemas/AuditEvidenceType",
            "description": "The type of Audit Evidence"
          },
          "evidenceId": {
            "type": "string",
            "description": "Unique identifier for evidence"
          },
          "relatedControls": {
            "items": {
              "$ref": "#/components/schemas/EvidenceControl"
            },
            "type": "array",
            "description": "The controls associated to this evidence"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "The description for the evidence. It will be set to null if the evidence is deleted"
          }
        },
        "required": [
          "id",
          "externalId",
          "status",
          "name",
          "deletionDate",
          "creationDate",
          "statusUpdatedDate",
          "testStatus",
          "evidenceType",
          "evidenceId",
          "relatedControls",
          "description"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "PaginatedResponse_Evidence_": {
        "properties": {
          "results": {
            "properties": {
              "data": {
                "items": {
                  "$ref": "#/components/schemas/Evidence"
                },
                "type": "array"
              },
              "pageInfo": {
                "$ref": "#/components/schemas/PageInfo"
              }
            },
            "required": [
              "data",
              "pageInfo"
            ],
            "type": "object"
          }
        },
        "required": [
          "results"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "PaginatedResponse_InformationRequestComment_": {
        "properties": {
          "results": {
            "properties": {
              "data": {
                "items": {
                  "$ref": "#/components/schemas/InformationRequestComment"
                },
                "type": "array"
              },
              "pageInfo": {
                "$ref": "#/components/schemas/PageInfo"
              }
            },
            "required": [
              "data",
              "pageInfo"
            ],
            "type": "object"
          }
        },
        "required": [
          "results"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "EvidenceUrl": {
        "properties": {
          "id": {
            "type": "string",
            "description": "Vanta internal reference to evidence"
          },
          "url": {
            "type": "string",
            "description": "Pre-signed S3 URL for evidence"
          },
          "filename": {
            "type": "string",
            "description": "File name of evidence"
          },
          "isDownloadable": {
            "type": "boolean",
            "description": "Set to true if this is a presigned s3 url. Set to false if this is a customer uploaded link"
          },
          "mimeType": {
            "type": "string",
            "nullable": true,
            "description": "MIME type of the evidence file (e.g., \"application/pdf\", \"image/png\")"
          }
        },
        "required": [
          "id",
          "url",
          "filename",
          "isDownloadable",
          "mimeType"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "PaginatedResponse_EvidenceUrl_": {
        "properties": {
          "results": {
            "properties": {
              "data": {
                "items": {
                  "$ref": "#/components/schemas/EvidenceUrl"
                },
                "type": "array"
              },
              "pageInfo": {
                "$ref": "#/components/schemas/PageInfo"
              }
            },
            "required": [
              "data",
              "pageInfo"
            ],
            "type": "object"
          }
        },
        "required": [
          "results"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "PaginatedResponse_Audit_": {
        "properties": {
          "results": {
            "properties": {
              "data": {
                "items": {
                  "$ref": "#/components/schemas/Audit"
                },
                "type": "array"
              },
              "pageInfo": {
                "$ref": "#/components/schemas/PageInfo"
              }
            },
            "required": [
              "data",
              "pageInfo"
            ],
            "type": "object"
          }
        },
        "required": [
          "results"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "ListAuditsPageSize": {
        "type": "integer",
        "format": "int32",
        "default": 10,
        "description": "Controls the maximum number of items returned in one response from the listAudits API.\n\nWe have increased the pagination size for this endpoint to enable our upmarket audit firms to\nsync in a timely manner. The rest of the API will use a pagination size of 100.",
        "minimum": 1,
        "maximum": 200
      },
      "InformationRequestActivityType": {
        "enum": [
          "CHANGE_STATUS",
          "EDIT_REQUEST",
          "REMOVE_EVIDENCE",
          "SHARE_EVIDENCE_WITH_AUDITOR",
          "UPLOAD_EVIDENCE"
        ],
        "type": "string"
      },
      "InformationRequestActivityLog": {
        "description": "Activity log entry tracking changes and actions on an information request.\n\nThe activity log provides a complete audit trail of all operations performed\non an information request, including status changes, evidence uploads, edits,\nand evidence sharing. This enables tracking compliance activities and understanding\nthe request's history.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the activity log entry within Vanta's system.\nFormat: ObjectId as a string (e.g., \"6890e473dce1da5d8406f5e7\")."
          },
          "activityType": {
            "$ref": "#/components/schemas/InformationRequestActivityType",
            "description": "Type of activity that occurred on the information request.\nDetermines which additional fields are populated."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the activity occurred.\nFormat: ISO 8601 UTC timestamp."
          },
          "userEmail": {
            "type": "string",
            "nullable": true,
            "description": "Email address of the user who performed the activity.\nNull for system-generated activities (rare, such as automated status changes).\nThis email uniquely identifies users across systems."
          },
          "oldStatus": {
            "type": "string",
            "enum": [
              "READY_FOR_AUDIT",
              "NEEDS_EVIDENCE",
              "AUDITOR_APPROVED",
              "AUDITOR_FLAGGED",
              "READY_FOR_INTERNAL_REVIEW",
              null
            ],
            "nullable": true,
            "description": "Previous approval status before the status change.\nOnly populated for status change activities. Null for all other activity types."
          },
          "newStatus": {
            "type": "string",
            "enum": [
              "READY_FOR_AUDIT",
              "NEEDS_EVIDENCE",
              "AUDITOR_APPROVED",
              "AUDITOR_FLAGGED",
              "READY_FOR_INTERNAL_REVIEW",
              null
            ],
            "nullable": true,
            "description": "New approval status after the status change.\nOnly populated for status change activities. Null for all other activity types."
          },
          "reason": {
            "type": "string",
            "nullable": true,
            "description": "Optional explanation for the status change.\nOnly populated for status change activities when a reason is provided\n(e.g., when flagging evidence). Null for all other cases."
          }
        },
        "required": [
          "id",
          "activityType",
          "timestamp",
          "userEmail",
          "oldStatus",
          "newStatus",
          "reason"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "PaginatedResponse_InformationRequestActivityLog_": {
        "properties": {
          "results": {
            "properties": {
              "data": {
                "items": {
                  "$ref": "#/components/schemas/InformationRequestActivityLog"
                },
                "type": "array"
              },
              "pageInfo": {
                "$ref": "#/components/schemas/PageInfo"
              }
            },
            "required": [
              "data",
              "pageInfo"
            ],
            "type": "object"
          }
        },
        "required": [
          "results"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "ComputerStatusOutcome": {
        "description": "The possible outcomes of a status check. The outcome can be one of the following:\nFAIL:  The check is failing.\nIN_PROGRESS: The check needs further data from the given computer in order to evaluate. The field(s) needed from a computer to calculate the ComputerStatusOutcome were null.\nNA: The check is not applicable for the given computer.\nPASS: The check is passing.",
        "enum": [
          "FAIL",
          "IN_PROGRESS",
          "NA",
          "PASS"
        ],
        "type": "string"
      },
      "ComputerStatus": {
        "description": "The a status check for a computer. Representation for screenlock, diskEncryption, passwordManager, and antivirusInstallation.",
        "properties": {
          "outcome": {
            "$ref": "#/components/schemas/ComputerStatusOutcome",
            "description": "The outcome of the status check."
          }
        },
        "required": [
          "outcome"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "OperatingSystemType": {
        "description": "The possible types of the operating system. One of `mac_OS`, `linux`, or `windows`.",
        "enum": [
          "macOS",
          "linux",
          "windows"
        ],
        "type": "string"
      },
      "OperatingSystem": {
        "description": "The computer's operating system type and version.",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/OperatingSystemType",
            "description": "The type of the operating system."
          },
          "version": {
            "type": "string",
            "nullable": true,
            "description": "The version of the operating system."
          }
        },
        "required": [
          "type",
          "version"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "MonitoredComputer": {
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the monitored computer."
          },
          "integrationId": {
            "type": "string",
            "description": "Hard-coded enums for Vanta-built integrations or application IDs for 3rd-party-built integrations."
          },
          "lastCheckDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date of the computer's most recent report."
          },
          "screenlock": {
            "$ref": "#/components/schemas/ComputerStatus",
            "description": "Whether or not the computer has screenlock enabled."
          },
          "diskEncryption": {
            "$ref": "#/components/schemas/ComputerStatus",
            "description": "Whether or not the computer's hard drive is encrypted."
          },
          "passwordManager": {
            "$ref": "#/components/schemas/ComputerStatus",
            "description": "Whether or not the computer has a password manager installed."
          },
          "antivirusInstallation": {
            "$ref": "#/components/schemas/ComputerStatus",
            "description": "Whether or not the computer has antivirus software installed."
          },
          "operatingSystem": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OperatingSystem"
              }
            ],
            "nullable": true,
            "description": "The computer's operating system name and version."
          },
          "owner": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Owner"
              }
            ],
            "nullable": true,
            "description": "The name, unique identifier, and email address of the computer's owner."
          },
          "serialNumber": {
            "type": "string",
            "nullable": true,
            "description": "The serial number of the computer. This value may be null if it is not reported by the device."
          },
          "udid": {
            "type": "string",
            "nullable": true,
            "description": "The universal device id of the computer."
          }
        },
        "required": [
          "id",
          "integrationId",
          "lastCheckDate",
          "screenlock",
          "diskEncryption",
          "passwordManager",
          "antivirusInstallation",
          "operatingSystem",
          "owner",
          "serialNumber",
          "udid"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "PaginatedResponse_MonitoredComputer_": {
        "properties": {
          "results": {
            "properties": {
              "data": {
                "items": {
                  "$ref": "#/components/schemas/MonitoredComputer"
                },
                "type": "array"
              },
              "pageInfo": {
                "$ref": "#/components/schemas/PageInfo"
              }
            },
            "required": [
              "data",
              "pageInfo"
            ],
            "type": "object"
          }
        },
        "required": [
          "results"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "ComputerStatusFilter": {
        "description": "Enum representing computer compliance statuses that can be utilized as a filter. The meanings are as follows:\nAV_NOT_INSTALLED: The computer does not have antivirus software installed.\nHD_NOT_ENCRYPTED: The computer's harddrive is not encrypted.\nLAST_CHECK_OVER_14_DAYS: No data has been received from computer for over 14 days.\nPWM_NOT_INSTALLED: The computer does not have a password manager installed.\nSCREENLOCK_NOT_CONFIGURED: The computer does not have screenlock configured appropriately.",
        "enum": [
          "PWM_NOT_INSTALLED",
          "HD_NOT_ENCRYPTED",
          "AV_NOT_INSTALLED",
          "SCREENLOCK_NOT_CONFIGURED",
          "LAST_CHECK_OVER_14_DAYS"
        ],
        "type": "string"
      },
      "PaginatedResponse_InformationRequest_": {
        "properties": {
          "results": {
            "properties": {
              "data": {
                "items": {
                  "$ref": "#/components/schemas/InformationRequest"
                },
                "type": "array"
              },
              "pageInfo": {
                "$ref": "#/components/schemas/PageInfo"
              }
            },
            "required": [
              "data",
              "pageInfo"
            ],
            "type": "object"
          }
        },
        "required": [
          "results"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "InformationRequestSupportedEvidenceType": {
        "type": "string",
        "enum": [
          "UPLOADED_DOCUMENT",
          "OBSERVATION",
          "LINK",
          "VANTA_DOCUMENT",
          "VANTA_POLICY",
          "VANTA_TEST"
        ]
      },
      "UploadedDocumentEvidence": {
        "description": "Evidence in the form of an uploaded document file.\nThe URL is a temporary presigned URL that expires after a certain period.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the uploaded document in Vanta's system."
          },
          "filename": {
            "type": "string",
            "description": "The original filename of the uploaded document.\nUndefined if the filename was not captured during upload."
          },
          "mimeType": {
            "type": "string",
            "description": "The MIME type of the document indicating its file format.\nCommon types: \"application/pdf\", \"image/png\", \"image/jpeg\", \"text/plain\""
          },
          "url": {
            "type": "string",
            "description": "A presigned URL for downloading the document.\nThis URL is temporary and expires after a limited time.\nRequest a new evidence list to get a fresh URL if expired."
          }
        },
        "required": [
          "id",
          "mimeType",
          "url"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "LinkEvidence": {
        "description": "Evidence in the form of a link to external documentation or resources.",
        "properties": {
          "title": {
            "type": "string",
            "description": "The title or descriptive name for the link."
          },
          "description": {
            "type": "string",
            "description": "Optional description providing additional context about the link."
          },
          "url": {
            "type": "string",
            "description": "The URL pointing to the external documentation or resource."
          }
        },
        "required": [
          "title",
          "url"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "ObservationEvidence": {
        "description": "Evidence in the form of a text observation or note.",
        "properties": {
          "observationDetails": {
            "type": "string",
            "description": "The text content of the observation."
          }
        },
        "required": [
          "observationDetails"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "VantaDocumentUploadedEvidence": {
        "description": "Represents an uploaded file in a Vanta Document.\nThe file is stored in Vanta's system and accessed via a presigned URL.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "uploaded"
            ],
            "nullable": false,
            "description": "Discriminator to identify this as an uploaded file."
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the file version in Vanta's system."
          },
          "filename": {
            "type": "string",
            "description": "The original filename of the uploaded document.\nUndefined if the filename was not captured during upload."
          },
          "mimeType": {
            "type": "string",
            "description": "The MIME type of the document indicating its file format.\nCommon types: \"application/pdf\", \"image/png\", \"image/jpeg\", \"text/plain\""
          },
          "url": {
            "type": "string",
            "description": "A presigned URL for downloading the document.\nThis URL is temporary and expires after a limited time.\nRequest a new evidence list to get a fresh URL if expired."
          }
        },
        "required": [
          "type",
          "id",
          "mimeType",
          "url"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "VantaDocumentLinkEvidence": {
        "description": "Represents an external link in a Vanta Document.\nThe link points to documentation hosted outside of Vanta's system.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "link"
            ],
            "nullable": false,
            "description": "Discriminator to identify this as an external link."
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the file version in Vanta's system."
          },
          "url": {
            "type": "string",
            "description": "The URL pointing to the external documentation or resource."
          }
        },
        "required": [
          "type",
          "id",
          "url"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "VantaDocumentEvidence": {
        "description": "Evidence in the form of a Vanta Document.\nVanta Documents are managed documents with metadata like expiration dates\nand versioning. They can either be uploaded files stored in Vanta or\nlinks to external documentation.",
        "properties": {
          "title": {
            "type": "string",
            "description": "The title of the document as displayed in Vanta."
          },
          "description": {
            "type": "string",
            "description": "Optional description providing additional context about the document."
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time",
            "description": "The date when the document version expires and should be renewed.\nUndefined if no expiration is set.\nFormat: ISO 8601 UTC timestamp."
          },
          "addedBy": {
            "properties": {
              "email": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "name"
            ],
            "type": "object",
            "description": "Information about the user who added this file version to the document.\nUndefined if the user information is not available."
          },
          "file": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/VantaDocumentUploadedEvidence"
              },
              {
                "$ref": "#/components/schemas/VantaDocumentLinkEvidence"
              }
            ],
            "description": "The file or link associated with this document version.\nUse the `type` discriminator to determine whether it's an uploaded file\nor an external link."
          }
        },
        "required": [
          "title",
          "file"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "VantaPolicyEvidence": {
        "description": "Evidence in the form of a Vanta Policy.\nVanta Policies are compliance policies with metadata like locale,\neffective dates, and versioning. Policies are always uploaded files\nstored in Vanta's system.",
        "properties": {
          "title": {
            "type": "string",
            "description": "The title of the policy as displayed in Vanta."
          },
          "description": {
            "type": "string",
            "description": "Optional description providing additional context about the policy."
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time",
            "description": "The date when the policy version expires and should be renewed.\nUndefined if no expiration is set.\nFormat: ISO 8601 UTC timestamp."
          },
          "lastEditedBy": {
            "properties": {
              "email": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "name"
            ],
            "type": "object",
            "description": "Information about the user who last edited this policy version.\nUndefined if the user information is not available."
          },
          "policyId": {
            "type": "string",
            "description": "The policy type this evidence belongs to (e.g. \"information-security-policy-bsi\").\nPolicies prefixed with \"custom-\" are customer-defined; others are Vanta-provided templates."
          },
          "policyVersionId": {
            "type": "string",
            "description": "The identifier of the approved policy version that was submitted as evidence.\nA new version is created each time a policy is updated and approved."
          },
          "policyVersionFileId": {
            "type": "string",
            "description": "The identifier of the locale-specific file within the policy version.\nEach policy version may contain multiple files, one per supported language."
          },
          "file": {
            "properties": {
              "effectiveOrCreationDate": {
                "type": "string",
                "format": "date-time",
                "description": "The date when this policy version became effective, or when it was created.\nFormat: ISO 8601 UTC timestamp."
              },
              "locale": {
                "type": "string",
                "description": "The locale/language of the policy document.\nExamples: \"EN\" for English, \"ES\" for Spanish, \"FR\" for French"
              },
              "url": {
                "type": "string",
                "description": "A presigned URL for downloading the policy document.\nThis URL is temporary and expires after a limited time.\nRequest a new evidence list to get a fresh URL if expired."
              },
              "mimeType": {
                "type": "string",
                "description": "The MIME type of the policy document indicating its file format.\nCommon types: \"application/pdf\", \"application/msword\""
              },
              "filename": {
                "type": "string",
                "description": "The original filename of the uploaded policy document.\nUndefined if the filename was not captured during upload."
              },
              "id": {
                "type": "string",
                "description": "The unique identifier for the uploaded policy file in Vanta's system."
              }
            },
            "required": [
              "effectiveOrCreationDate",
              "locale",
              "url",
              "mimeType",
              "id"
            ],
            "type": "object",
            "description": "The uploaded policy file for this version."
          }
        },
        "required": [
          "title",
          "policyId",
          "policyVersionId",
          "policyVersionFileId",
          "file"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "VantaTestRunStatus": {
        "type": "string",
        "enum": [
          "NA",
          "IN_PROGRESS",
          "PASS",
          "FAIL",
          "INVALID",
          "DISABLED"
        ]
      },
      "VantaTestFileType": {
        "type": "string",
        "enum": [
          "TEST_EVIDENCE_WORKPAPER",
          "TEST_RAW_DATA",
          "OUT_OF_SCOPE_RESOURCES",
          "API_REQUESTS"
        ]
      },
      "VantaTestEvidence": {
        "description": "Evidence in the form of a Vanta automated test run.\nVanta Tests are automated compliance tests with metadata like test status,\nexecution time, and file type. Tests generate evidence files that can be\nworkpapers, raw data, or API request logs.",
        "properties": {
          "title": {
            "type": "string",
            "description": "The title of the test run as displayed in Vanta."
          },
          "testId": {
            "type": "string",
            "description": "The unique identifier for the test in Vanta's system."
          },
          "snapshotId": {
            "type": "string",
            "description": "The unique identifier for the point-in-time capture of this test run's evidence.\nA snapshot is an immutable record of all files (workpapers, raw data, etc.)\ngenerated during a single test execution."
          },
          "testRunStatus": {
            "$ref": "#/components/schemas/VantaTestRunStatus",
            "description": "The outcome status of the test run."
          },
          "executedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the test was executed.\nFormat: ISO 8601 UTC timestamp."
          },
          "fileType": {
            "$ref": "#/components/schemas/VantaTestFileType",
            "description": "The type of evidence file included in this evidence."
          },
          "file": {
            "properties": {
              "mimeType": {
                "type": "string",
                "description": "The MIME type of the evidence file.\nCommon types: \"application/pdf\" for workpapers, \"text/csv\" for raw data"
              },
              "url": {
                "type": "string",
                "description": "A presigned URL for downloading the evidence file.\nThis URL is temporary and expires after a limited time.\nRequest a new evidence list to get a fresh URL if expired."
              }
            },
            "required": [
              "mimeType",
              "url"
            ],
            "type": "object",
            "description": "The evidence file for this test run."
          }
        },
        "required": [
          "title",
          "testId",
          "snapshotId",
          "testRunStatus",
          "executedAt",
          "fileType",
          "file"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "InformationRequestEvidenceUnion": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/UploadedDocumentEvidence"
          },
          {
            "$ref": "#/components/schemas/LinkEvidence"
          },
          {
            "$ref": "#/components/schemas/ObservationEvidence"
          },
          {
            "$ref": "#/components/schemas/VantaDocumentEvidence"
          },
          {
            "$ref": "#/components/schemas/VantaPolicyEvidence"
          },
          {
            "$ref": "#/components/schemas/VantaTestEvidence"
          }
        ],
        "description": "Union type representing the different forms of evidence content.\nThe specific type is determined by the `evidenceType` field in InformationRequestEvidence."
      },
      "InformationRequestEvidence": {
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the evidence within Vanta's system.\nFormat: ObjectId as a string (e.g., \"6890e473dce1da5d8406f5e7\")."
          },
          "evidenceType": {
            "$ref": "#/components/schemas/InformationRequestSupportedEvidenceType",
            "description": "Type of evidence attached to this information request.\nDetermines the structure of the `evidence` field."
          },
          "visibleToAuditorDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when the evidence was made visible to the auditor.\nNull if the customer has not yet shared this evidence with the auditor.\nEvidence must be shared before the auditor can review it.\nFormat: ISO 8601 UTC timestamp."
          },
          "creationDate": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the evidence was created/uploaded.\nFormat: ISO 8601 UTC timestamp."
          },
          "modificationDate": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the evidence was last modified.\nFormat: ISO 8601 UTC timestamp."
          },
          "deletionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when the evidence was soft-deleted.\nNull if the evidence has not been deleted.\nSoft deletes retain evidence in the system for audit history while hiding\nit from normal operations.\nFormat: ISO 8601 UTC timestamp."
          },
          "evidence": {
            "$ref": "#/components/schemas/InformationRequestEvidenceUnion",
            "description": "The evidence content. Structure varies based on evidenceType."
          }
        },
        "required": [
          "id",
          "evidenceType",
          "creationDate",
          "modificationDate",
          "evidence"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "PaginatedResponse_InformationRequestEvidence_": {
        "properties": {
          "results": {
            "properties": {
              "data": {
                "items": {
                  "$ref": "#/components/schemas/InformationRequestEvidence"
                },
                "type": "array"
              },
              "pageInfo": {
                "$ref": "#/components/schemas/PageInfo"
              }
            },
            "required": [
              "data",
              "pageInfo"
            ],
            "type": "object"
          }
        },
        "required": [
          "results"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "ExternalFindingSeverity": {
        "description": "ExternalFindingSeverity describes the severity of an external finding (Vulnerability or Security Alert)",
        "enum": [
          "CRITICAL",
          "HIGH",
          "LOW",
          "MEDIUM"
        ],
        "type": "string"
      },
      "VulnerabilityType": {
        "type": "string",
        "enum": [
          "CONFIGURATION",
          "COMMON",
          "GROUPED"
        ]
      },
      "ExternalFindingSeverityType": {
        "type": "string",
        "enum": [
          "CRITICAL",
          "HIGH",
          "LOW",
          "MEDIUM"
        ],
        "nullable": false
      },
      "Vulnerability": {
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the vulnerability."
          },
          "name": {
            "type": "string",
            "description": "Display name of the vulnerability."
          },
          "description": {
            "type": "string",
            "description": "Description of the vulnerability."
          },
          "integrationId": {
            "type": "string",
            "description": "Integration that the vulnerability is scanned by."
          },
          "packageIdentifier": {
            "type": "string",
            "nullable": true,
            "description": "Identifier for the package that the vulnerability is found on.\nOnly relevant to vulnerabilities of type COMMON or GROUPED."
          },
          "vulnerabilityType": {
            "$ref": "#/components/schemas/VulnerabilityType",
            "description": "Type of the vulnerability.\nPossible values: CONFIGURATION, COMMON, GROUPED."
          },
          "targetId": {
            "type": "string",
            "description": "Unique identifier for the underlying resource that the vulnerability is found on."
          },
          "firstDetectedDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date when the vulnerability was first detected by Vanta."
          },
          "sourceDetectedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date when the vulnerability was first detected by the source."
          },
          "lastDetectedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date when the vulnerability was last detected."
          },
          "severity": {
            "$ref": "#/components/schemas/ExternalFindingSeverityType",
            "description": "Severity of the vulnerability.\nPossible values: LOW, MEDIUM, HIGH, CRITICAL."
          },
          "cvssSeverityScore": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "CVSS severity score of the vulnerability."
          },
          "scannerScore": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "Scanner score of the vulnerability."
          },
          "isFixable": {
            "type": "boolean",
            "description": "Whether the vulnerability is fixable."
          },
          "remediateByDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date when the vulnerability should be remediated by."
          },
          "relatedVulns": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "Related vulnerabilities.\nOnly relevant to vulnerabilities of type GROUPED."
          },
          "relatedUrls": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "Related URLs."
          },
          "externalURL": {
            "type": "string",
            "description": "External URL for the vulnerability."
          },
          "scanSource": {
            "type": "string",
            "description": "Scanning tool that detected the vulnerability"
          },
          "deactivateMetadata": {
            "properties": {
              "isVulnDeactivatedIndefinitely": {
                "type": "boolean",
                "description": "Whether the vulnerability is deactivated indefinitely."
              },
              "deactivatedUntilDate": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "Date when the vulnerability will be reactivated."
              },
              "deactivationReason": {
                "type": "string",
                "description": "Reason for deactivating the vulnerability."
              },
              "deactivatedOnDate": {
                "type": "string",
                "format": "date-time",
                "description": "Date when the vulnerability was deactivated."
              },
              "deactivatedBy": {
                "type": "string",
                "description": "Identifier of the user who deactivated the vulnerability."
              }
            },
            "required": [
              "isVulnDeactivatedIndefinitely",
              "deactivatedUntilDate",
              "deactivationReason",
              "deactivatedOnDate",
              "deactivatedBy"
            ],
            "type": "object",
            "nullable": true,
            "description": "Metadata for the deactivation of the vulnerability."
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "integrationId",
          "packageIdentifier",
          "vulnerabilityType",
          "targetId",
          "firstDetectedDate",
          "sourceDetectedDate",
          "lastDetectedDate",
          "severity",
          "cvssSeverityScore",
          "scannerScore",
          "isFixable",
          "remediateByDate",
          "relatedVulns",
          "relatedUrls",
          "externalURL",
          "deactivateMetadata"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "PaginatedResponse_Vulnerability_": {
        "properties": {
          "results": {
            "properties": {
              "data": {
                "items": {
                  "$ref": "#/components/schemas/Vulnerability"
                },
                "type": "array"
              },
              "pageInfo": {
                "$ref": "#/components/schemas/PageInfo"
              }
            },
            "required": [
              "data",
              "pageInfo"
            ],
            "type": "object"
          }
        },
        "required": [
          "results"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "EmploymentStatus": {
        "description": "The employment status of a person:\n- UPCOMING: The person is not yet employed and will start employment in the future.\n- CURRENT: The person is currently employed.\n- ON_LEAVE: The person is on leave.\n- INACTIVE: The person's employment is inactive.\n- FORMER: The person was previously employed.",
        "enum": [
          "UPCOMING",
          "CURRENT",
          "ON_LEAVE",
          "INACTIVE",
          "FORMER"
        ],
        "type": "string"
      },
      "LeaveStatus": {
        "description": "User can be active or upcoming leave period",
        "enum": [
          "ACTIVE",
          "UPCOMING"
        ],
        "type": "string"
      },
      "LeaveInfo": {
        "properties": {
          "startDate": {
            "type": "string",
            "format": "date-time",
            "description": "The start of the person's leave."
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The end of the person's leave. Null endDate implies indefinite leave."
          },
          "status": {
            "$ref": "#/components/schemas/LeaveStatus",
            "description": "ACTIVE if the leave is currently ongoing. UPCOMING if the startDate is in the future."
          }
        },
        "required": [
          "startDate",
          "endDate",
          "status"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "PersonInfoSourceType.VANTA": {
        "enum": [
          "VANTA"
        ],
[...]
